body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('../img/bg1.jpg');
    background-size: cover;
}

.login-box {
    width: 280px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    border-bottom: 1px solid #4caf50;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80px;
    float: left;
    margin: 0 10px;
}

.btn {
    width: 100%;
    background: none;
    border: 1px solid #4caf50;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.judulModal {
    color: white;
}

.card {
    height: 100px;
}